# Part of events manager
# written by Brennan Macaig
# Copyright (C) Events Manager Developers
# Copyright under the MIT public license.

base.php
*.htaccess
register.php
base-sessions.php

# Remove cached files, auto-save system with Brackets/Linux is awful, so get rid of those.
*.php~
*.*~
